<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Notes</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let note of myNotes">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{note.title}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button color="success" (click)="createAlert()">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>